<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>M-Proven-Portfolio.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>CFA4CF3B6C8F7ECE2ACB97701485E5970AB99A41</string>
				<key>dateExpires</key>
				<string>9/9/24</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>WSB2NY9LV6.com.kuwahla.M-Proven-Portfolio</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>WSB2NY9LV6</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>M-Proven-Portfolio.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>13c1d058-bfdd-4179-92dc-c859edac801c</string>
				<key>dateExpires</key>
				<string>9/9/24</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.kuwahla.M-Proven-Portfolio</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>WSB2NY9LV6</string>
				<key>name</key>
				<string>Michael Provenzano</string>
			</dict>
			<key>versionNumber</key>
			<string>0.0.1</string>
		</dict>
	</array>
</dict>
</plist>
